.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100% !important;
    border:lightgrey 2px solid !important;

}

.item{
  

}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: grey !important;
}